%lines {
    height: .2rem;
    height: .2rem;
    background-color: $color-grey-light-1;
    width: 100%;
}
%after-and-before {
    content: "";
    display: block;
    position: absolute
}

.sidebar {
    background-color: $color-primary;
    grid-area: 1/sidebar-start/-1/sidebar-end;
    @include respond($breakpoint-large) {
        grid-area: 1/1/2/-1;
    }

    &__btn {
        display: block;
        width: 4rem;
        margin: 2rem;
        @include respond($breakpoint-large) {
            margin: 2rem 2rem 0 auto
        }
        &:focus, &:active {
            outline: .2rem solid $color-secondary;
            outline-offset: .2rem
        }
    }
    &__icon {
        @extend %lines;
        position: relative;
        margin: 1rem 0;
        &::after {
            @extend %lines;
            @extend %after-and-before;
            top: -1rem;
        }
        &::before {
            @extend %lines;
            @extend %after-and-before;
            bottom: -1rem;
        }
    }
}